<p><strong>Title</strong>
 <%= @list.title %>
</p>
<p><strong>Body</strong>
<%= @list.body %>
</p>

<span><%= link_to 'Edit',edit_books_path(@list.id) %></span>
<span>|</span>
<span><%= link_to 'Back',"/books" %></span>