/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: verdana,arial,helvetica,sans-serif;
  padding: 10px 20px;
}

table th{
  padding:20px 13px;
}
table td{
  padding:10px 13px;

}

.action{
  margin-top: 15px;
  margin-bottom: 15px;
}

.flash{
  color:green;
}
.error_explanation{
  width:450px;
  border:2px solid red;
  background-color: #f0f0f0;
}

.error_explanation h2{
  text-align: left;
  padding:5px 5px 5px 15px;
  font-size: 12px;
  margin-top:-1px;
  background-color: #c00;
  color:#fff;
}
.error_explanation ul li{
  font-size: 12px;
  list-style:square;
}
